@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: #4758d6;
  --black: #201c1c;
  --light-red: #ea3a3a;
  --silver-white: #eeeded;
  --orange: #e1811f;
  --font: 'Montserrat', sans-serif;
}
.city-name {
  display: flex;
  margin: 50px 25px 20px 90px;
}
.city-name h2{
    font-family: 'Montserrat', sans-serif; 
}
.line {
  width: 3px;
  height: 30px;
  margin-right: 3px;
  background-color: var(--light-red);
}
header{
  position: sticky;
  z-index: 1;
  top: 0;
}
.navbar {
  width: 100%;
  background-color: rgb(37, 43, 57);
  display: flex;
  justify-content: space-between;
}
.navbar h1 {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: var(--silver-white);
  font-weight: 600;
  font-size: 35px;
  padding: 30px 0px 20px 100px;
}
h1 span {
  color: var(--light-red);
}
.username {
  padding: 30px 170px 0px 0px;
}
.username p {
  color: var(--silver-white);
  cursor: pointer;
}
.username p i {
  padding-left: 5px;
  font-size: small;
}

.username .underline {
  height: 3px;
  width: 180px;
  background-color: var(--light-red);
  margin-top: 5px;
}
.username .menubar i {
  color: var(--silver-white);
  display: none;
  font-size: 40px;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.list {
  position: absolute;
  background-color: rgb(37, 43, 57);
  width: 180px;
  right: 169px;
  top: 64px;
  display: none;
}
.listshow {
  display: block;
}
.list p {
  color: var(--silver-white);
  padding: 10px 30px;
}
.list p:hover {
  background-color: var(--light-red);
  color: rgb(37, 43, 57);
}



/* Fustal Image css */
.container{
  display: block;
  position: relative;
}
.fustal-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    column-gap: 40px;
    padding: 10px 0px 20px 0px;
    cursor: pointer;
    margin-left: 90px;
    margin-right: 90px;
}
.fustalvenue{
  margin-bottom: 30px;
}


/* slider */
.slide-button{
  position:absolute;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  top: 40%;
} 
.slide-button:hover{
  background-color: #444;
}
.slide-button#prev-slide{
  left: 65px;
  display: none;
} 
.slide-button#next-slide{
  right: 65px;
}

.fustalvenue img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    
}
.fustalvenue h4{
    font-size: 18px;
    font-family: var(--font);
    margin-top: 10px;
    color: rgb(37,43,57);
} 
.fustalvenue img:hover{ 
  box-shadow: 5px 5px 5px 2px rgb(37,43,57) ;
}

/* futsal description */
.f-description{
  background-color:rgb(7,9,11);
  
}
.fdes1,.fdes4,.fdes2,.fdes3{
  display: none;
}

.fustal-des{
  display: flex;
}

.fustal-des img{
  width: 400px;
  height: 550px;
  margin: 70px 50px 50px 120px ;
  border-radius: 15px;
}
.name-rating h4{
  color: var(--silver-white);
  margin-bottom: 20px;
  font-size: 30px;
}
.name-rating p{
  color: var(--silver-white);
  margin-bottom: 20px;
  font-size: 15px;
}
.name-rating{
  margin-top: 70px;
}

.star i{
  padding-right: 10px;
  color: rgb(255,194,5);
  margin: 10px 0px;
}
.star span{
  color: var(--silver-white);
  font-size: 17.5px;
}
.star i:nth-child(5){
  color: rgb(175, 175, 175);
}
.fustal-des:nth-child(2) .star i:nth-child(4){
  color: rgb(175, 175, 175);
}
.fustal-des:nth-child(3) .star i:nth-child(4){
  color: rgb(175, 175, 175);
}

.book-close-btn .book, .cancel{
  margin: 20px 40px 0px 0px;
  padding: 10px 35px;
  font-size: 15px;
  /* background-color: rgb(255,194,5); */
  background-color: var(--light-red);
  outline: 0;
  border: none;
  cursor: pointer;
  color: white;
}

/* Book and time */
.booking1,.booking2,.booking3,.booking4{
  margin: 20px 20px 0px 0px;
  display: none;
}

.booking-box{
  padding: 20px 20px 10px 20px;
  background: linear-gradient(to right,rgb(222, 193, 106) , rgb(201, 182, 73));
  border-radius: 20px;
  position: relative;
}
.date{
  display: flex;
  justify-content: center;
}
.date-head h4 {
margin-top: 10px;
text-align: center;
color:rgb(37, 43, 57);
font-size: 20px;
font-family: var(--font);

}

.date p{
  margin-right: 10px;
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 5px;
  color: var(--silver-white);
}
.date p:first-child{
  background-color: var(--blue);
}

.date p:nth-child(2),.date p:nth-child(3){
  border-bottom: 2px solid var(--blue);
  color: #201c1c;
}
.date p:hover{
  background-color: var(--blue);
  color: var(--silver-white);
}

/* footer part */
.footpart{
  width: 100%;
  height: 12rem;
  background: linear-gradient(to right,rgb(222, 193, 106) , rgb(201, 182, 73));
  position: relative;
}

.footpart h2{
  font-family: var(--font);
  font-size: 13px;
  position: absolute;
  left: 13rem;
  top: 9rem;
}
.footlist{
  display: flex;
  position: absolute;
  right: 8rem;
  top: 3rem;
  cursor: pointer;
}
.footlist2{
  display: flex;
  position: absolute;
  right: 8rem;
  top: 9rem;
  cursor: pointer;
}
.footlist p,.footlist2 p{
  margin-left: 35px;
}
.footlist p:hover,.footlist2 p:hover{
  border-bottom: 1px solid black;
}



@media screen and (max-width: 980px) {
  .city-name {
    margin-left: 90px;
  }
  .navbar h1 {
    padding: 30px 0px 20px 60px;
  }
  .username {
    padding: 30px 100px;
  }
  .list {
    right: 100px;
  }
  .fustal-box {
    column-gap: 50px;
  }
  .fustal-des img{
    width: 300px;
    height: 450px;
    margin-left: 60px ;
  }
  .footpart h2{
    top: 3rem;
    left: 3rem;
  }
  .footlist,.footlist2{
    right: 5rem;
  }
}

@media screen and (max-width: 746px) {
  .city-name {
    margin-left: 50px;
    margin-top: 30px;
  }
  .navbar h1 {
    padding: 30px 0px 20px 60px;
    font-size: 30px;
  }
  .username p,
  .underline {
    display: none;
  }
  .fustal-box{
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
  }
  .slide-button#prev-slide{
    left: 25px;
  } 
  .slide-button#next-slide{
    right: 25px;
  }
  
  .list {
    right: 0px;
  }
  .username .menubar i {
    display: block;
  }
  .fustal-des img{
    width: 250px;
    height: 400px;
    margin-left: 30px ;
    margin-right: 35px;
  }
  .date-head h4{
    font-size: 15px;
  }
  
  .footlist,.footlist2{
    right: 3rem;
  }
  .footlist p,.footlist2 p{
    margin-left: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 501px) {
  .navbar h1 {
    padding: 20px 0px 10px 20px;
    font-size: 20px;
  }
  .username .menubar i {
    font-size: 30px;
    top: 18px;
    right: 30px;
  }
  .list {
    top: 50px;
  }
  .footpart{
    height: 10rem;
  }
  .footpart h2{
    font-size: 10px;
    left: 2rem;
    top: 1rem;
  }
  .footlist2{
    top: 8rem;
  }
  .footlist,.footlist2{
    right: 2rem;
  }

  .footlist p,.footlist2 p{
    margin-left: 10px;
    font-size: 12px;
  }

}
@media screen and (max-width: 381px) {
  .city-name {
    margin: 20px 0px 15px 28px;
  }
  .fustal-box{
    margin-left: 28px;
    margin-right: 28px;
    gap: 30px;
  }
  .slide-button#prev-slide{
    left: 5px;
  } 
  .slide-button#next-slide{
    right: 5px;
  }
  .navbar h1 {
    padding: 20px 0px 10px 20px;
    font-size: 15px;
  }
  .footlist2{
    top: 7rem;
  }
  .footlist,.footlist2{
    right: 1rem;
  }

}
